.slider-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0px;
}

.value-display {
    width: 50px;
    text-align: center;
    margin-right: 10px;
}

.emoji {
    width: 50px;
    font-size: 1em;
    margin: 10px;
}